// import variables file
@use "variables" as *;
.contact {
    .container {
        text-align: center;
        .title {
            justify-content: center;
        }
        iframe {
            width: 40em;
            height: 59.9375em;
        }
    }
}
@media (max-width: 767px) {
    .contact {
        .container {
            iframe {
                width: 30em;
            }
        }
    }
}
@media (max-width: 550px) {
    .contact {
        .container {
            iframe {
                width: 20em;
            }
        }
    }
}