// import variables file
@use "variables" as *;
.gallery {
    .container {
        .box {
            .imgs {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 25px;
                img {
                    width: 21.875em;
                }
            }
        }
    }
}
.galleryJS {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}