// import variables file
@use "variables" as *;
.landing {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    .boxOne {
        width: 50%;
        background-color: #003cbe;
        padding-left: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        div:nth-child(1) {
            color: white;
            font-size: $font_five;
        }
        div:nth-child(3) {
            display: flex;
            gap: 15px;
            a {
                color: white;
                font-size: $font_five;
                font-weight: bold;
                transition: 0.2s;
                &:hover {
                    color: #ff7f50;
                    transform: translatey(-5px);
                }
            }
        }
    }
    .boxTwo {
        width: 50%;
        background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(../imgs/personal.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50px;
            width: 21.875em;
        }
    }
}
@media (max-width: 767px) {
    .landing {
        flex-direction: column;
        .boxOne {
            display: inline-flex;
            width: 100%;
            height: 100%;
        }
        .boxTwo {
            display: none;
        }
    }
}

// Typing Text Animation
.animated-text{
    font-size: $font_three;
    font-weight: bold;
    color: white;
}
.animated-text span{
    position: relative;
}
.animated-text span::before{
    content: "";
    color: #ff7f50;
    animation: words 20s infinite;
}
.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #003cbe;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}
@keyframes words {
    0%,20%{
        content: "CEO of UYA";
    }
    21%,40%{
        content: "Developer";
    }
    41%,60%{
        content: "Researcher";
    }
    61%,80%{
        content: "CLF Amb.";
    }
    81%,100%{
        content: "Athlete";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.landing_two {
    height: 50vh;
    background: #003cbe;
    color: white;
    .container {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        div:nth-child(1) { 
            font-weight: bold;
            font-size: $font_two;
            margin: 10px 0;
        }
        div:nth-child(2) {
            font-size: $font_six;
            margin: 10px 0;
            a {
                color: inherit;
                text-decoration: none;
            }
            a:nth-child(2) {
                color: $main_color;
            }
        }
    }
}