extends index.pug
block head
    +head("Beshoy Samy / Books")
block landing
    .landing_two 
        .container
            div Books
            div 
                a(href="index.html") Home / 
                a(href="book.html") Books
block certificate
block projects
block competitions
block video
block research
block Gallery
block contact