extends index.pug
block head
    +head("Beshoy Samy / Certificates")
block landing
    .landing_two 
        .container
            div Certificates
            div 
                a(href="index.html") Home / 
                a(href="certificates.html") Certificates
block addCertificate
    .box: a(href="imgs/38.jpg", target="_blank") 
        img(src="imgs/38.jpg", alt="Certificate")
        div CLF Senior Fellow
    .box: a(href="imgs/2.jpg", target="_blank") 
        img(src="imgs/2.jpg", alt="Certificate")
        div The Experiment Digital Leadership in STEM
    .box: a(href="imgs/44.png", target="_blank") 
        img(src="imgs/44.png", alt="Certificate")
        div UGRF 20th
    .box: a(href="imgs/43.jpg", target="_blank") 
        img(src="imgs/43.jpg", alt="Certificate")
        div SENAC
    .box: a(href="imgs/1.jpg", target="_blank") 
        img(src="imgs/1.jpg", alt="Certificate")
        div CLF Fellow
    .box: a(href="imgs/37.jpg", target="_blank") 
        img(src="imgs/37.jpg", alt="Certificate")
        div Slingshot Challenge
    .box: a(href="imgs/40.jpg", target="_blank") 
        img(src="imgs/40.jpg", alt="Certificate")
        div Blue Ocean Mini Course
    .box: a(href="imgs/41.jpg", target="_blank") 
        img(src="imgs/41.jpg", alt="Certificate")
        div 50 Design In Canva
    .box: a(href="imgs/42.jpg", target="_blank") 
        img(src="imgs/42.jpg", alt="Certificate")
        div RSI
    .box: a(href="imgs/33.jpg", target="_blank") 
        img(src="imgs/33.jpg", alt="Certificate")
        div CLF Certified Ambassador
    .box: a(href="imgs/3.jpg", target="_blank") 
        img(src="imgs/3.jpg", alt="Certificate")
        div Fundamentals of Digital Marketing
    .box: a(href="imgs/30.jpg", target="_blank") 
        img(src="imgs/30.jpg", alt="Certificate")
        div Apple Search Ads Certification
    .box: a(href="imgs/31.jpg", target="_blank") 
        img(src="imgs/31.jpg", alt="Certificate")
        div Fundamentals of Peace Mediation
    .box: a(href="imgs/6.jpg", target="_blank") 
        img(src="imgs/6.jpg", alt="Certificate")
        div Effective Leadership
    .box: a(href="imgs/7.jpg", target="_blank") 
        img(src="imgs/7.jpg", alt="Certificate")
        div International Youth Conference 10
    .box: a(href="imgs/8.jpg", target="_blank") 
        img(src="imgs/8.jpg", alt="Certificate")
        div Unicef BSAFE
    .box: a(href="imgs/9.jpg", target="_blank") 
        img(src="imgs/9.jpg", alt="Certificate")
        div Volunteering for SCHOLARS FOR YOUTH
    .box: a(href="imgs/10.png", target="_blank") 
        img(src="imgs/10.png", alt="Certificate")
        div JavaScript Course
    .box: a(href="imgs/11.png", target="_blank") 
        img(src="imgs/11.png", alt="Certificate")
        div Unity Course
    .box: a(href="imgs/12.jpg", target="_blank") 
        img(src="imgs/12.jpg", alt="Certificate")
        div Gmail Intro
    .box: a(href="imgs/13.jpg", target="_blank") 
        img(src="imgs/13.jpg", alt="Certificate")
        div Google Drive Intro
    .box: a(href="imgs/14.jpg", target="_blank") 
        img(src="imgs/14.jpg", alt="Certificate")
        div Leadership In Action
    .box: a(href="imgs/15.jpg", target="_blank") 
        img(src="imgs/15.jpg", alt="Certificate")
        div Leadership Fundamentals
    .box: a(href="imgs/39.jpg", target="_blank") 
        img(src="imgs/39.jpg", alt="Certificate")
        div German Course
    .box: a(href="imgs/16.jpg", target="_blank") 
        img(src="imgs/16.jpg", alt="Certificate")
        div CSS Course
    .box: a(href="imgs/17.jpg", target="_blank") 
        img(src="imgs/17.jpg", alt="Certificate")
        div HTML Course
    .box: a(href="imgs/18.jpg", target="_blank") 
        img(src="imgs/18.jpg", alt="Certificate")
        div Appreciation From The School
    .box: a(href="imgs/19.jpg", target="_blank") 
        img(src="imgs/19.jpg", alt="Certificate")
        div Appreciation From Arabic Teacher
    .box: a(href="imgs/20.jpg", target="_blank") 
        img(src="imgs/20.jpg", alt="Certificate")
        div Appreciation From The Church
    .box: a(href="imgs/21.jpg", target="_blank") 
        img(src="imgs/21.jpg", alt="Certificate")
        div Appreciation From The Church
block projects
block competitions
block video
block research
block book
block Gallery
block contact
