extends index.pug
block head
    +head("Beshoy Samy / Competitions")
block landing
    .landing_two 
        .container
            div Competitions
            div 
                a(href="index.html") Home / 
                a(href="competitions.html") Competitions
block certificate
block projects
block addCompetitions
    .box: a(href="imgs/49.jpg", target="_blank") 
        img(src="imgs/49.jpg", alt="Website")
        div ISEF Local Fair
    .box: a(href="imgs/50.jpg", target="_blank") 
        img(src="imgs/50.jpg", alt="Website")
        div ISEF Primary Fair
    .box: a(href="imgs/34.jpg", target="_blank") 
        img(src="imgs/34.jpg", alt="Website")
        div ISEF National Fair
    .box: a(href="imgs/4.jpg", target="_blank") 
        img(src="imgs/4.jpg", alt="Website")
        div ISEF National Fair
    .box: a(href="imgs/5.jpg", target="_blank") 
        img(src="imgs/5.jpg", alt="Website")
        div ISEF Local Fair
    .box: a(href="imgs/32.png", target="_blank") 
        img(src="imgs/32.png", alt="Website")
        div Code Clash Championship
    .box: a(href="imgs/22.jpg", target="_blank") 
        img(src="imgs/22.jpg", alt="Website")
        div Young Inventor 2016
    .box: a(href="imgs/23.jpg", target="_blank") 
        img(src="imgs/23.jpg", alt="Website")
        div S.L.S Got Talent
block video
block research
block book
block Gallery
block contact
