mixin head (title)
    meta(name="author" content="Beshoy Samy Englizy")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Beshoy Samy Personal Website")
    meta(name="date" content="2025-01-16" scheme="YYYY-MM-DD")
    title= title
    link(rel="icon" href="imgs/icon.icon")
    // Font Awesome Library
    link(rel="stylesheet", href="style/all.min.css")
    // Main CSS File
    link(rel="stylesheet" href="style/style.css")
