extends index.pug
block head
    +head("Beshoy Samy / Projects")
block landing
    .landing_two 
        .container
            div Projects
            div 
                a(href="index.html") Home / 
                a(href="projects.html") Projects
block certificate
    div
block addProjects
    .box: a(href="https://samybeshoy.github.io/Villa/", target="_blank") 
        img(src="imgs/24.png", alt="Website")
        div Villa Template (Programming)
    .box: a(href="https://samybeshoy.github.io/Montana-Resort/", target="_blank") 
        img(src="imgs/montana.png", alt="Website")
        div Montana Template (Programming)
    .box: a(href="https://samybeshoy.github.io/California/", target="_blank") 
        img(src="imgs/25.png", alt="Website")
        div California Template (Programming)
    .box: a(href="https://samybeshoy.github.io/Foody/", target="_blank") 
        img(src="imgs/26.png", alt="Website")
        div Foody Template (Programming)
    .box: a(href="https://samybeshoy.github.io/Halloween/", target="_blank") 
        img(src="imgs/27.png", alt="Website")
        div Halloween  Template (Programming)
    .box: a(href="https://samybeshoy.github.io/Coffee/", target="_blank") 
        img(src="imgs/28.png", alt="Website")
        div Coffee Template (Programming)
    .box: a(href="https://samybeshoy.github.io/luxury-hotel/", target="_blank") 
        img(src="imgs/29.png", alt="Website")
        div Luxury Hotel Template (Programming)
block competitions
    div
block research
    div
block Gallery
    div
block contact
    div
