extends index.pug
block head
    +head("Beshoy Samy / Research")
block landing
    .landing_two 
        .container
            div Research
            div 
                a(href="index.html") Home / 
                a(href="research.html") Research
block certificate
block projects
block competitions
block video
block book
block Gallery
block contact