extends index.pug
block head
    +head("Beshoy Samy / Research")
block landing
    .landing_two 
        .container
            div Research
            div 
                a(href="index.html") Home / 
                a(href="research.html") Research
block certificate
    div
block projects
    div
block competitions
    div
block video
    div
block Gallery
    div
block contact
    div
