extends index.pug
block head
    +head("Beshoy Samy / Videos")
block landing
    .landing_two 
        .container
            div Videos
            div 
                a(href="index.html") Home / 
                a(href="videos.html") Videos
block certificate
    div
block projects
    div
block competitions
    div
block addVideo
    .box
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4i_aYCqB3Bg?si=3sn2ZBtSeTwVDaY5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
block research
    div
block Gallery
    div
block contact
    div