extends index.pug
block head
    +head("Beshoy Samy / Videos")
block landing
    .landing_two 
        .container
            div Videos
            div 
                a(href="index.html") Home / 
                a(href="videos.html") Videos
block certificate
block projects
block competitions
block addVideo
    .box
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z3A85gGkt-U?si=poXUqx1K_EyCKjEd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
block research
block book
block Gallery
block contact
